{% extends "base.html" %}

{% block content %}

	
	<div class="row">
        
        <div class="span8">
          <h2>
            <!-- Quiz Question -->
            {{ quiz[tuple_id][1] }}
          </h2>
          
          <br>
          <h2>
            <!-- Print Correct or Wrong Answer Statement -->
            {{ solution }}
          </h2>

          <br>You answered {{ given_answer }}.
          <br>The right answer is {{ correct_answer }}.
          
          <br><br><br>Explanation...Explanation...Explanation...
          

          <!-- Next Question Link -->
          <br><br>{{ nextquestion | safe }}

        </div>
        
        <div class="span4">
          <h2>Question List</h2>
          <br>
            <p>
           	  {% for q in quiz %}
				        <a href = "/quiz/{{q[0]}}">{{ q[1] }}</a>
				        <br>
			        {% endfor %}
			      </p>     

            
        </div>
        
  </div>

{% endblock %}