{% extends "base.html" %}

{% block content %}

	
	<div class="row">
        
        <div class="span8">
          <h2>
            <!-- Quiz Question -->
            {{ quiz[tuple_id][1] | safe}}
          </h2>
          
          <br>
          <h2>
            <!-- Print Correct or Wrong Answer Statement -->
            {{ solution }}
          </h2>

          <br>You answered {{ given_answer }}.
          <br>The correct answer is {{ correct_answer }}.

          <br><br>
          <h3>Video Solution</h3>
          <br>
          <div class="videoWrapperPlaylist">
              <iframe src="http://www.youtube.com/embed/{{explanation}}?rel=0&amp;wmode=transparent&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
          </div>
          
          

          <!-- Next Question Link -->
          {{ nextquestion | safe }}


        </div>
        
        <div class="span4">
          <h2>Quiz List</h2>
          <br>
            <p>
           	  {% for q in quiz %}
				        <a href = "/quiz/{{q[0]}}">{{ q[0] }}. {{ q[1] | safe}}</a>
                <br>
			        {% endfor %}
			      </p>     

            <br>
            <h2>Video List</h2>
            <br>
            <p>
              {% for p in playlist %}
                <a href = "/playlist/addmaths/f4/{{p[0]}}">{{ p[1] }}</a>
                <br>
              {% endfor %}
            </p> 

            <br>
            <h2><a href = "/signup">Sign Up</a></h2> 
            
        </div>
        
  </div>

{% endblock %}