{% extends "base.html" %}

{% block content %}

	
	<div class="row">

        <div class = "span2">
          <div class ="total-points">
            <h2>TOTAL POINTS:</h2>{{totalpoints}}
          </div>
        </div>

        <div class="span8">
          <h2>Congratulations!</h2>
          <div class="learn-box">
            <br>You have reached the end of this section!  
            <br>Go to <a href="/home">Home</a> to try another section!
            <!-- <br><a href="/home">Sign up</a> now to save your points.-->
            <br>
            <br>
            <br>
            <br>
          </div>
          
          
        
        </div>


        
     
        
  </div>

{% endblock %}