{% extends "base.html" %}

{% block content %}

	
	<div class="row">

        <div class = "span2">
          <div class ="total-points">
            <h2>TOTAL POINTS:</h2>{{totalpoints}}
          </div>
        </div>

        <div class="span8">
          <h2>Congratulations!</h2>
          <div class="learn-box">
            <br>You have reached the end of this section!  
            <br>Go to <a href="/home">Home</a> to try another section!
            <br><br>
            <br><h3>Spread the love. Tell your friends about TuitionX. 
            <br><a href="http://facebook.com/tuitionx">Like our Facebook page</a> | <a href="http://twitter.com/tuitionx">Tweet about us</a></h3>
            <br>
            
          </div>
          
          
        
        </div>


        
     
        
  </div>

{% endblock %}