{% extends "base.html" %}

{% block content %}

    

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center>
          <h1>Free Tuition for Malaysian Students</h1>
        

        <!--        ##### COMMENTED OUT PROMO VIDEO #####
        <div class="videoWrapper">  
          <iframe src="http://www.youtube.com/embed/W0uKoB0aD1w?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
        -->

        <br><br>
        <img src="/static/img/homeimage.jpg">
        <br><br>
        <p>TuitionX.com is a <u><b>FREE</b></u> online tuition centre for Malaysian students preparing for SPM examinations. Access our study notes and quizzes on your computer, tablet, iPad, iPhone or smartphone and save all your awesome learning progress. </p>
        
        <br>
       


        <!--        ##### COMMENTED OUT START LEARNING BUTTON #####  
        <div class = "front-page-button">
        <a href = "/home" class="btn btn-primary btn-large">Start Learning &raquo;</a>
        </div>
        -->
        <br>
        <a href="/signup" class="btn btn-primary btn-large"><h2>Sign Up</h2></a>&nbsp;&nbsp;
        <a href="/login" class="btn btn-primary btn-large"><h2>Login</h2></a>

        <!--
        <br>
        <form method="post">

          <span class="email-home">Email:</span>
          <input type="text" name="email" value=""> 
          <button type="submit" class="btn register-btn">Start Learning!</button><br>
          <span class="signup-error">{{error_email}}{{error_email_register}}</span>
        </form>
        -->

      </center>

      </div>

      <!-- Example row of columns -->
      
      <!--

      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      
      -->

{% endblock %}
      
