{% extends "base.html" %}

{% block content %}

	
	<div class="row">
        
        <div class="span8">
          <h2>{{playlist[id][1]}}</h2>
           <br>
           <p>
            <div class="videoWrapperPlaylist">
              <iframe src="http://www.youtube.com/embed/{{playlist[id][2]}}?rel=0&amp;wmode=transparent&amp;autoplay=1" frameborder="0" allowfullscreen></iframe></p>
            </div>
            <div class = "playlist-button">
              <a href = "{{ url }}" class="btn btn-primary btn-large">{{ button }} &raquo;</a>
              </div>

        </div>
        
        <div class="span4">

            <h2>Video Playlist</h2>
          <br>


            <div class="accordion" id="accordion2" data-collapse-type="manual">
          <div class="accordion-group">
            <div class="accordion-heading">
              


              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Form 4 Add Maths - Quadratic Equations
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                {% for p in playlist %}
                <a href = "/playlist/addmaths/f4/{{p[0]}}">{{ p[1] }}</a>
                <br>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Topic #2
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Coming Soon
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Topic #3
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                Coming Soon
              </div>
            </div>
          </div>
        </div>​





         

              
        </div>

        
        
        
  </div>

{% endblock %}