{% extends "base.html" %}

{% block content %}

	
	<div class="row">
        
        <div class="span8">
          <h2>Thank You!</h2>
          <br><br>
          
          Thank you for registering with BobbySummerProject. We are still very new and have no content yet. Please bear with us and we will update you again once we have more content. If you are interested in helping out in this project, drop us an email at email@email.com

          <br><br>

        </div>
        
        
        
        
        
  </div>

{% endblock %}