{% extends "base.html" %}

{% block content %}

	
	<div class="row">
        
        <div class="span8">
          <h2>Thank You!</h2>
          <br><br>
          <div class="videoWrapperPlaylist">
              <iframe src="http://www.youtube.com/embed/luUD5CXMj3w?wmode=transparent" frameborder="0" allowfullscreen></iframe>
          </div>

          Thank you for registering with TuitionX.com. TuitionX.com is still very new and do not have much content yet. If you are interested in helping out in this project, drop me an email at bobby@tuitionx.com

          <br><br>

        </div>
        
       
        
        
  </div>

{% endblock %}